<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_url 'banner.jpg' %>)">
  <div class="container">
    <h1>Watchlist</h1>
    <p>All of your favorites in one place.</p>
    <%= link_to 'Create', new_list_path, class: 'btn btn-primary'  %>
  </div>
</div>
<div class="container my-4">
  <h3>My Lists</h3>
  <div class="owl-carousel owl-theme">
    <% @lists.each do |list| %>
      <div class="item card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        <%= list.name %>
        <%= link_to "", list_path(list), class: 'card-link'  %>
      </div>
    <% end %>
  </div>
  <h3>Recommended</h3>
  <div class="owl-carousel owl-theme">
    <% @lists.reverse.each do |list| %>
      <div class="item card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        <%= list.name %>
        <%= link_to "", list_path(list), class: 'card-link'  %>
      </div>
    <% end %>
  </div>
  <h3>Trending</h3>
  <div class="owl-carousel owl-theme">
    <% @lists.shuffle.each do |list| %>
      <div class="item card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        <%= list.name %>
        <%= link_to "", list_path(list), class: 'card-link'  %>
      </div>
    <% end %>
  </div>
</div>