<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_url 'banner.jpg' %>)">
  <div class="container">
    <h1>Watchlist</h1>
    <p>All of your favorites in one place.</p>
    <%= link_to 'Create List', new_list_path, class: 'btn btn-primary'  %>
  </div>
</div>
<div class="container my-4">
  <h3>My Lists</h3>
  <div class="owl-carousel owl-theme">
    <% @lists.each do |list| %>
      <%= render 'lists/card', list: list %>
    <% end %>
  </div>
  <h3>Recommended</h3>
  <div class="owl-carousel owl-theme">
    <% @lists.reverse.each do |list| %>
      <%= render 'lists/card', list: list %>
    <% end %>
  </div>
  <h3>New Movie Suggestions</h3>
  <div class="owl-carousel owl-theme">
    <% @movies.each do |movie| %>
      <div class="list-show">
        <div class="item card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= movie.poster_url %>)">
          <%= movie.title %>
          <%= link_to new_movie_bookmark_path(movie), class: 'card-add' do %>
            <i class="fas fa-plus-square"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>